{% extends 'myapp/base.html' %}

{% block content %}
    <h2>Toxicity Calculator</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="cosmetic_name" placeholder="Cosmetic Name">
        <select name="ingredient">
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.pcpc_ingredientid }}">{{ ingredient.pcpc_ingredientname }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Ingredient</button>
    </form>
{% endblock %}
